<!DOCTYPE html>
<html lang="en-US">
  
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link href="../static/styles/home-style.css" rel="stylesheet">
  <link href="../static/styles/about.css" rel="stylesheet">
  <script src="../static/scripts/main.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="../static/scripts/account.js" async defer></script>

</head>
<body>

<div class="navbar">
    <img src="../static/images/google2.jpg" alt="logo">
    <a href="/">Home</a> 

    <div class="dropdown" id="submissions-div" style="display: none;">
        <button id="submissions-menu" class="dropbtn" style="display: none;">Submissions
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="submissions-new" style="display: none;" href="/submission">New</a>
            <a id="submissions-history" style="display: none;" href="#">History</a>
        </div>
    </div> 

    <a href="/about">About</a>

    <div class="dropdown">
        <button id="account-name" class="dropbtn">Account
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="account-profile" style="display: none;" href="#">Profile</a>
            <a id="sign-in-link" href="#">Sign in</a>
        </div>
    </div> 

</div>

<div>
<h1>About</h1>
<p>Over the last few decades, researchers have sought to establish causal links between gene variants and rare Mendelian diseases. Identifying more rare disease patients with variants in the same gene can help validate the causality of novel disease genes. To bolster automated data sharing among rare disease centers across the world, the MatchMaker Exchange (MME) federated network has allowed researchers and clinicians to both share and query cases based on genotypes and/or phenotypes. Moreover, an increase in the number of MME nodes and updates of current node features can further augment data sharing efforts. So far, the MME network contains over 65,000 cases among seven member organizations and eight additional participating institutions.</p>

<p>
MatchY is a member of the MME network and is an open-source, web-accessible, and user-friendly platform for data sharing. This node implements the MME Application Programming Interface (API). The scoring algorithm contained within MatchY allows users to match on gene, genotype, and phenotype and facilitates free-text phenotype matching to Human Phenotype Ontology (HPO) terms. In addition, we have added the flexible feature to match on equivalent functional classes of variants instead of restricting matches to the exact variants. For example, matching a nonsense variant with loss of function variants (i.e. nonsense, frameshift and essential splice) within the respective gene. Lastly, the implementation using an elasticsearch data will empower more advanced internal matching as this node grows in size.</p>

</div>

<footer>
  <p>MatchY insert footer</p>
</footer>
</body>
</html>