<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link href="../static/styles/home-style.css" rel="stylesheet">
    <link href="../static/styles/about.css" rel="stylesheet">
    <link href="../static/styles/contact-us.css" rel="stylesheet">
    <script src="../static/scripts/main.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="../static/scripts/account.js" async defer></script>
</head>
<body>

<div class="navbar">
    <img src="../static/images/google2.jpg" alt="logo">
    <a href="/">Home</a> 

    <div class="dropdown" id="submissions-div" style="display: none;">
        <button id="submissions-menu" class="dropbtn" style="display: none;">Submissions
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="submissions-new" style="display: none;" href="/submission">New</a>
            <a id="submissions-history" style="display: none;" href="#">History</a>
        </div>
    </div> 

    <a href="/about">About</a>
    <a href="/contact-us">Contact</a>

    <div class="dropdown">
        <button id="account-name" class="dropbtn">Account
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="account-profile" style="display: none;" href="#">Profile</a>
            <a id="sign-in-link" href="#">Sign in</a>
        </div>
    </div> 

</div>

<p>
  MatchY is developed and maintained by the Lek lab. <br><br>
  Please contact Monkol Lek via email: monkol.lek@yale.edu regarding enquires and feedback.

</p>
    
<footer>
  <p>Developed by the Lek Lab 2019</p>
</footer>


  </body>
</html>