<!DOCTYPE html>
<html lang="en-US">
  
<head>
    <meta charset="utf-8">
    <title>MatchY - Login Page</title>
    <link href="../static/styles/home-style.css" rel="stylesheet">
    <link href="../static/styles/login.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="../static/scripts/account.js" async defer></script>
</head>
<body>

<!--navigation bar-->
<div class="navbar">
    <img src="../static/images/google2.jpg" alt="logo">
    <a href="/">Home</a> 

    <div class="dropdown" id="submissions-div" style="display: none;">
        <button id="submissions-menu" class="dropbtn" style="display: none;">Submissions
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="submissions-new" style="display: none;" href="/submission">New</a>
            <a id="submissions-history" style="display: none;" href="#">History</a>
        </div>
    </div> 

    <a href="/about">About</a>

    <div class="dropdown">
        <button id="account-name" class="dropbtn">Account
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a id="account-profile" style="display: none;" href="#">Profile</a>
            <a id="sign-in-link" href="#">Sign in</a>
        </div>
    </div> 

</div>

<div id="login">
    <p>Homepage placeholder text</p>
</div>

<footer>
  <p>MatchY insert footer</p>
</footer>
    
</body>
</html>
